@media (min-width: 0px) and (max-width: 650px){

    html, body{
        overflow-y: auto;
    }
    
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #game-board{
        width: 100%;
    }

    #leader-board{
        width: 100%;
    }
}