html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
	flex: 1;
}
h2 {
	display: flex;
	justify-content: center;
}
footer {
	flex: 0.5;
	background-color: lightblue;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
body {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
}
main {
	flex: 8;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
	margin-left: 10px;
	gap: 10px;
}
 
/* container */ 
.bubble-inputs {
	display: flex;
	flex-direction: row;
	width: 100%;
	
}
/* divs inside the container */
.bubble-inputs div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3px;
	
}
/* all labels, inputs and selects */
.bubble-inputs label, input, select {
	text-align: center;
	width: 80%;
	
}

/* label specific */
.bubble-inputs, label {
	font-size: 16pt;
}
/* each "bubble" */
.bubble-1, .bubble-2, .bubble-3, .bubble-4 {
	background-color: lightgrey;
	border-radius: 20px;
	margin: 5px;
	width: 100%;
}
input:invalid {
	border: 2px solid red;
}	

#start-game {
	width: 100%;
	margin: 3px;
	font-size: 16pt;
}

/* clear button */
#buttons-above-footer {
	display: flex;
	flex-direction: row;
}
/* submit button */
#submit {
	width: 75%;
	margin: 2px;
	font-size: 16pt;
	margin-top: 10px;
}

#clear{
	margin: 2px;
	width: 25%;
	
	font-size: 16pt;
	margin-top: 10px;
}

/* gameBoard or tiles */
#game-board {
	height:100%;
	width: 75%;
}

#game-board table{
	width: 100%;
	height: 100%;
}
#game-board td {
	border: 2px solid grey;
	width:100%;
}
#game-board td.selected {
	border: 2px solid red;
}
#game-board td div {
	visibility: hidden;
	text-align: center;
}
figcaption {
	text-align: center;
	margin-bottom: 10px;
}
#leader-board {
	width: 25%;
}
#leader-board th {
	text-align: left;
	font-size: 14pt;
}

table {
	width: 100%;
}

#leader-board td.playerName{
	flex: 1;
	text-align: left;
}

#leader-board td.score{
	flex-shrink: 0;
	text-align: left;
}
